<table class="table table-bordered">
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Permissions</th>
	</thead>
	
	<tbody>
		<% accounts.forEach(function(account) { %>
			<tr>
				<td><%=account.firstName%></td>
				<td><%=account.lastName%></td>
				<td><%=account.email%></td>
				<td><code><%-account.permissions.join("</code>, <code>")%></td>
			</tr>
		<% }); %>
	</tbody>
</table>

<a class="btn" id="newUser" href="#">New User</a>

<br /><br />

<div class="share mrl" id="createUser" style="display: none;" class="span4">
	<form p:action="platform.handle">
		<input type="hidden" name="controller" value="users" />
		<input type="hidden" name="action" value="create" />
		<input type="hidden" name="submitted" value="true" />
		
		<ul>
			<li>
				<input class="span6" type="text" name="firstName" placeholder="First Name" />
				&nbsp;&nbsp;
				<input class="span6" type="text" name="lastName" placeholder="Last Name" />
			</li>
			
			<li>
				<input class="span6" type="text" name="email" placeholder="Email Address" />
				&nbsp;&nbsp;
				<input class="span6" type="password" name="password" placeholder="Password" />
			</li>
			
			<li>
				<strong>PERMISSIONS</strong>
				<input name="permissions" id="tagsinput" class="tagsinput" value="<%=global.config.accounts.defaultPermissions.join(',')%>" />
			</li>	
		</ul>
	</form>
	<a href="#" class="btn btn-primary btn-block btn-large">Create User</a>
</div>

<script src="lib/hydrais/p/platform/public/js/jquery.tagsinput.js"></script>
<script src="lib/hydrais/p/platform/public/js/jquery-1.8.2.min.js"></script>
<script src="lib/hydrais/p/platform/public/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="lib/hydrais/p/platform/public/js/jquery.dropkick-1.0.0.js"></script>
<script src="lib/hydrais/p/platform/public/js/custom_checkbox_and_radio.js"></script>
<script src="lib/hydrais/p/platform/public/js/custom_radio.js"></script>
<script src="lib/hydrais/p/platform/public/js/jquery.tagsinput.js"></script>
<script src="lib/hydrais/p/platform/public/js/bootstrap-tooltip.js"></script>
<script src="lib/hydrais/p/platform/public/js/jquery.placeholder.js"></script>
<script src="lib/hydrais/p/platform/public/js/application.js"></script>

<script type="text/javascript" charset="utf-8">
	$('#newUser').click(function() {
		$('#createUser').toggle();
	});
</script>