<ul style="position: absolute; top: 0px; right: 0px; bottom: -20px; left: 0px; background-color: #f2f2f2" class="vertical tabs">
	<% if (path != ".") { %>
		<li class="active"><a href="#"><i class="icon-hdd"></i> <i class="icon-caret-right"></i> <%-path.replace("./", "").replace(/\//g, "<i class='icon-caret-right'></i>")%></a></li>
		<li><a href="#" class="upButton"><i class="icon-caret-left"></i> Back</a></li>
	<% } else { %>
		<li class="active"><a href="#"><i class="icon-hdd"></i> Files</a></li>
	<% } %>

	<!-- Directories -->
	<% dirs.forEach(function(dir) { %>
		<li><a class="dirButton" data-name="<%=dir%>" href="#"><i class="icon-folder-close-alt"></i> <%=dir%></a></li>
	<% }); %>

	<!-- Files -->
	<% files.forEach(function(file) { %>
		<li><a class="fileButton" data-name="<%=file%>" href="#"><i class="icon-file-alt"></i> <%=file%></a></li>
	<% }); %>
</ul>

<script type="text/javascript">

(function($) {
	var path = "<%=path%>";

	$('.upButton').off("click").off("mosueup").off("mousedown");
	$('.dirButton').off("click").off("mouseup").off("mousedown");
	$('.fileButton').off("click").off("mouseup").off("mousedown");

	$('.upButton').on("click", function(e) {
		P.controller("platform").up(path);
	});

	$('.dirButton').on("click", function(e) {
		P.controller("platform").cd(path + "/" + $(this).attr('data-name'));
	});

	$('.dirButton').on("mousedown", function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).parent().addClass("active");	
	});

	$('.dirButton').on("mouseup", function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).parent().removeClass("active");
	});

	$('.fileButton').on("mousedown", function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).parent().addClass("active");	
	});

	$('.fileButton').on("mouseup", function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).parent().removeClass("active");
	});

	$('.fileButton').on("click", function(e) {
		e.preventDefault();
		e.stopPropagation();
		P.controller("platform").edit(path + "/" + $(this).attr('data-name'));
	});
})(jQuery);

</script>